@font-face {
	font-family: 'pixelade';
	src: url('../pixelade/pixelade-webfont.eot');
	src: url('../pixelade/pixelade-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../pixelade/pixelade-webfont.woff') format('woff'),
		 url('../pixelade/pixelade-webfont.ttf') format('truetype'),
		 url('../pixelade/pixelade-webfont.svg#pixeladeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: pixelade, pixelade-webfont;
}
a {
	text-decoration: none;
	color: inherit;
}
nav ul li {
	font-size: 25px;
	display: inline;
	padding-right: 1em;
}
nav a {
	o-transition:.3s;
	ms-transition:.3s;
	moz-transition:.3s;
	webkit-transition:.3s;
	transition:.3s;
	border-bottom: 0px solid #5c5987;
}
nav a:hover {
	border-bottom: 5px solid #9999FF;
	color: #9999FF;
}
.active {
	/*color: #9999FF;*/
	border-bottom: 5px solid #9999FF;
}
.text-light {
	color: #b1f8d0;
}
.text-dark {
	color: #5c5863;
}
.text-medium {
	color: #9999FF;
}
.bg-dark {
	background-color: #5c5987;
}
.bg-black {
	/*background-color: #5c5863;*/
	background-color: black;
}
.bg-light {
	background-color: #b1f8d0;
}
.bg-medium {
	background-color: #9999FF;
}
.rounded {
	border-radius: 10px;
}
.font50px {
	font-size: 50px;
}
.shadow {
	box-shadow: 5px 5px #5c5987;
}
#container {
	position: absolute;
	width: 100%;
	height: auto;
}
	#shutter {
		position: relative;
		width: 100%;
		text-align: center;
		height: 100px;
	}
		#title {
			font-size: 50px;
		}
		#navlinks {
			position: absolute;
			top: 70px;
			left: 0;
			right: 0;
		}
	#content {
		position: relative;
		margin: 50px auto;
		height: 900px;
		width: 900px;
	}
		#page-name {
			width: auto;
			margin-left: 5%;
			padding-top: 5px;
			padding-left: 10px;
			padding-right: 10px;
		}
#footer {
	position: relative;
	width: 100%;
}